<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testscripts.WidgetsTest"/>
<!--       <class name="testscripts.SkillTest"/>
      <class name="testscripts.LoginTest"/> -->
    </classes>
  </test>
</suite> 
